* {
	user-select: none;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #eee1;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #16bfbf;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #16bfbf;
}
